---
layout: none 
---

<!doctype html>
<html lang="en">

  <head>
	  <script>
	  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
}
	  </script>

    <meta charset="UTF-8">
    <meta name="theme-color" content="{{ site.theme-color }}" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.url == '/products/' %}
    <meta name="description" content="{% if page.content %}{{ page.content }}{% endif %}">
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
    {% if site.fb_appid and site.fb_appid != '' %}
    <meta property="fb:app_id" content="{{ site.fb_appid }}" />
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% elsif page.headline %}{{ page.headline }}{% else %}{{ site.title }}{% endif %}|{{ site.title }}">
    {% if page.url == '/products/' %}
    <meta property="og:description" content="{% if page.content %}{{ page.content }}{% endif %}">
    {% endif %}
    <meta property="og:image" content="{% if page.facebook_image_path %}{{ page.facebook_image_path }}{% elsif page.featured_image_path %}{{ page.featured_image_path }}{% else %}{{ site.favicon }}{% endif %}">
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.shop.js?{{site.time | date: '%s%N'}}"></script>
    <script type="text/javascript" src="{{site.url}}/js/owl.carousel.min.js?{{site.time | date: '%s%N'}}"></script>

    <script type="text/javascript" src="{{site.url}}/js/main.js?{{site.time | date: '%s%N'}}"></script>

    <link rel="icon" type="image/png" href="{{ site.favicon }}"/>
    <link rel="apple-touch-icon" sizes="512x512" href="{{ site.favicon }}">
    <meta name="apple-mobile-web-app-status-bar" content="#1266f1">
    <link rel="manifest" href="{{ site.url }}/manifest.json?{{site.time | date: '%s%N'}}">

    <script src="{{ site.url }}/js/sw-reg.js?{{site.time | date: '%s%N'}}"></script>
    <script src="{{ site.url }}/js/pwa-app.js?{{site.time | date: '%s%N'}}"></script>

    <link href="{{site.url}}/css/owl.carousel.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link href="{{site.url}}/css/owl.theme.default.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?{{site.time | date: '%s%N'}}">
    <!-- Google Fonts -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css?{{site.time | date: '%s%N'}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css?{{site.time | date: '%s%N'}}">
<!--
    <style>
      .btn-primary, .primary-color, .bg-primary {
          background-color:#1266f1 !important;
      }
      .text-primary {
          color: #1266f1 !important;
      }
    </style>
    -->
    {% assign thesiz = site.adsense.size %}
    {% if site.adsense and thesiz == 23 %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.adsense }}",
        enable_page_level_ads: true
      });
    </script>
    {% endif %}
    {% if site.analytics and site.analytics != '' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics }}');
    </script>
    {% endif %}
    {% comment %}
    {% if page.id == 'index' %}
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
      const el = document.createElement('pwa-update');
      document.body.appendChild(el);
   </script>
   {% endif %}
   {% endcomment %}
  </head>
  <body class="bg-light">
    <div class="site-container">
      <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="wrap" style="margin-bottom: 80px;">  
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg justify-content-between fixed-top scrolling-navbar navbar-dark primary-color">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link px-2" href="{{ site.url }}/cart">
                  <i class="fa fa-shopping-cart"></i> <span class="bg-danger badge"></span>
                </a> 
              </li>
            </ul>
            <!-- Collapse button -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            
            <!-- Collapsible content -->
            <!-- <div class="collapse navbar-collapse" id="basicExampleNav">
              <form class="form-inline">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
              </form>
            </div> -->
            <!-- Collapsible content -->
          </nav>   
        </div>

	<div class="text-center my-2"><div id="google_translate_element"style="display: none;"></div></div>
	<div class="text-center my-4">
        <div class="btn-group btn-group-sm rounded">
          <a href="{{ site.url }}/" class="btn-sm px-2 mx-1 btn btn-primary">Go Home</a>
	  <button id="findShopsBtn" class="btn btn-primary btn-sm px-2 mx-1">Nearby Shops</button>
	           <!--
		   <a href="https://www.monsoonmalabar.com/search_shop" class="btn-sm px-2 mx-1 btn btn-primary">Nearby shops</a> -->
          <a href="{{ site.url }}/blog" class="btn-sm px-2 mx-1 btn btn-primary">Blog</a>
          <a href="#" onclick="addToHomeScreen()" id="install" class="btn-sm px-2 mx-1 btn btn-primary pwa"><i class="far fa-lg text-white faa-tada animated faa-fast fa-plus-square"></i> Install App</a>
          <button class="btn-sm px-2 mx-1 btn btn-primary d-lg-none share-btn6">Share Shop</button>
        	</div>
	</div>
  <!-- <p class="pwa my-2 note note-primary">Note: Install App button only works in google chrome browser in android phone. So update your chrome and open this site in chrome browser. In I phone open this portal in safari and <a href="https://forum.monsoonmalabar.com/board/1/-Mdg3u1VndHyGpLGMTIw">click here to know how to install</a>.</p> -->
        <script>
          document.querySelector('.share-btn6').addEventListener('click', function() {
            console.log('clicked');
//		  const url = {{ site.url | url_encode }};
            if(navigator.share) {
              navigator.share({
                url
              })
              .then(() => console.log('Success'))
              .catch((error) => console.log('Error sharing', error));
            }
          });
        </script>

        
	<script>
		    document.getElementById("findShopsBtn").addEventListener("click", () => {
			          if (navigator.geolocation) {
					          navigator.geolocation.getCurrentPosition((position) => {
							            const lat = position.coords.latitude.toFixed(6);
							            const lng = position.coords.longitude.toFixed(6);
							            const query = encodeURIComponent(`shop near ${lat},${lng}`);
							            const url = `https://www.google.com/search?q=${query}`;
							            window.location.href = url;
							          }, (error) => {
									            alert("Error getting location: " + error.message);
									          });
					        } else {
							        alert("Geolocation is not supported by your browser.");
							      }
			        });
		      </script>






<header class="floating-header">

<div class="floating-menu-btn">
    <div class="floating-menu-toggle-wrap">
      <div class="floating-menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>

  <div class="main-navigation-wrap">
    <nav class="main-navigation" data-back-btn-text="Back">
      <ul class="menu">
	      {% assign i = 0 %}
{% for category in site.categories %}
<li class="delay-{{ i }}"><a href="{{ site.url }}/categories/{{category | first}}">{{ category | first | replace: "_", " "}}</a></li>
{% assign i = i | plus:1 %}
{% endfor %}
      </ul><!-- .menu -->
    </nav><!-- .main-navigation -->
  </div><!-- .main-navigation-wrap -->

</header>
      </header>
      {{ content }}
      <div style="width: 100%">
        <p class="alert alert-primary text-center">Click on "view larger map" to get direction</p>
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{ site.location }}+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
      </div>
      <div class="my-2 py-2 text-center">
        <p class="alert alert-primary">Contact Seller</p>
  			{% if site.mobile and site.mobile != '' %}
        <a href="tel:+{{ site.mobile }}" class="btn btn-sm px-3 btn-primary rounded-pill">Call</a>
        <a href="https://wa.me/{{ site.mobile }}" class="btn btn-sm px-3 btn-primary rounded-pill">Whatsapp</a>
        {% endif %}
        <a href="mailto:{{ site.email }}" class="btn btn-sm px-3 btn-primary rounded-pill">Email</a>
      </div>
    </div>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- <script>
      // const url = new URL(window.location.href);
      const isStandalone = window.matchMedia('(display-mode: standalone)').matches;
      if (navigator.standalone || isStandalone) {
        console.log('it works');
      Array.from(
        document.getElementsByClassName("pwa")
      ).forEach((e)=>e.style.display='none')
      }
    </script> -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    
      <script async src="{{ site.url }}/js/style-picker.js"></script>
      <script>
        $(document).ready(function(){
       $('.zoom-2').zoom();
      });
      </script>
      <script src="{{ site.url }}/js/s.min.js"></script>

      <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script src="{{ site.url }}/js/notification.js"></script>
    
    <script src="{{ site.url }}/js/infinite.js"></script>

    <script>
      // Custom Scripts
    
    function googleTranslateElementInit() {
	    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: '{{ site.page_language }}', autoDisplay: false}, 'google_translate_element');
    }
    
   
      const autoTranslateToHindi = setInterval(() => {
	            const select = document.querySelector('select.goog-te-combo');
	            if (select) {
			    select.value = '{{ site.page_language }}';
			            select.dispatchEvent(new Event('change'));
			            clearInterval(autoTranslateToHindi);
				          }
					      }, 500);


    // Minified Scripts
//    (function(){var gtConstEvalStartTime = new Date();
      /*
    
     Copyright The Closure Library Authors.
     SPDX-License-Identifier: Apache-2.0
    */
   // function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
   // function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
   // if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='440335.1449305758';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();
    </script>

<div class="alert alert-primary alert-dismissible fade show alert-fixed2" id="and-show" role="alert">
  <button id="close2" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>1. Click on the Menu button ( Three vertical dots located top right side of this page like this <i class="fas fa-ellipsis-v"></i> ) <br /> 2. Then click Install App or Add to Home Screen</div>
</div>

<div class="alert alert-primary alert-dismissible fade show alert-fixed" id="ios-show" role="alert">
  <button id="close1" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div><p>Install the app on your device to easily access it anytime.</p> 1. Click on the Menu button located down below like this <i class="fas fa-external-link-alt"></i> 2. Then select 'Add to Home screen' <i class="fas fa-plus-square"></i></div>
</div>


  </body>
</html>
